PRANITA_SELF/services/Books_Pranita_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Books_Pranita"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="Books_PranitaOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="bookID" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Books_PranitaOperationResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="title" type="xsd:string"></xsd:element>
						<xsd:element name="author" type="xsd:string">
						</xsd:element>
						<xsd:element name="publisher"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="releaseDate"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="pages" type="xsd:string">
						</xsd:element>
						<xsd:element name="price"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="Books_PranitaOperationRequest">
		<wsdl:part name="parameters" element="tns:Books_PranitaOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="Books_PranitaOperationResponse">
		<wsdl:part name="parameters" element="tns:Books_PranitaOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="NewOperationRequest">
		<wsdl:part name="parameters" element="tns:NewOperation"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part name="parameters" element="tns:NewOperationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Books_PranitaPortType">
		<wsdl:operation name="Books_PranitaOperation">
			<wsdl:input message="tns:Books_PranitaOperationRequest"></wsdl:input>
			<wsdl:output message="tns:Books_PranitaOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="Books_PranitaBinding" type="tns:Books_PranitaPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Books_PranitaOperation">
			<soap:operation soapAction="http://www.talend.org/service/Books_PranitaOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="Books_Pranita">
		<wsdl:port name="Books_PranitaPort" binding="tns:Books_PranitaBinding">
			<soap:address location="http://localhost:8090/services/Books_Pranita" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>