PRANITA_SELF/services/Multiple_Table_Fetch_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Multiple_Table_Fetch"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="Multiple_Table_FetchOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="TableName" type="tns:TableNameType"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Multiple_Table_FetchOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="TableSchema" type="tns:outType"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		
            <xsd:complexType name="outType"></xsd:complexType>
        
            <xsd:complexType name="TableNameType"></xsd:complexType>
        </xsd:schema>
	</wsdl:types>

	<wsdl:message name="Multiple_Table_FetchOperationRequest">
		<wsdl:part name="parameters" element="tns:Multiple_Table_FetchOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="Multiple_Table_FetchOperationResponse">
		<wsdl:part name="parameters" element="tns:Multiple_Table_FetchOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="Multiple_Table_FetchPortType">
		<wsdl:operation name="Multiple_Table_FetchOperation">
			<wsdl:input message="tns:Multiple_Table_FetchOperationRequest"></wsdl:input>
			<wsdl:output message="tns:Multiple_Table_FetchOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="Multiple_Table_FetchBinding" type="tns:Multiple_Table_FetchPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Multiple_Table_FetchOperation">
			<soap:operation soapAction="http://www.talend.org/service/Multiple_Table_FetchOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="Multiple_Table_Fetch">
		<wsdl:port name="Multiple_Table_FetchPort" binding="tns:Multiple_Table_FetchBinding">
			<soap:address location="http://localhost:8090/services/Multiple_Table_Fetch" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>